
 	
body{
 margin:auto;
 background-image: url("../img/img3.jpg");
 background-repeat: no-repeat;
 background-size: 100% 100%;
 overflow:auto;
}
.container{
 width: 500px;
 height: 550px;
 text-align: center;
 margin: 0 auto;
 background-color: rgba(44, 62, 80,0.7);
 margin-top: 0px;
 box-shadow: 25px 39px 58px rgba(21, 161, 185, 0.3),0 15px 12px rgba(0, 0, 0, 0.22);
 
}
 
.container img{
 width: 150px;
 height: 150px;
 margin-top:0;
}
 
input[type="text"],input[type="password"],input[type="email"]{
 margin-top: 30px;
 height: 45px;
 width: 300px;
 font-size: 18px;
 margin-bottom: 20px;
 background-color: #fff;
 padding-left: 40px;
}
 
.form-input::before{
 content: "\f007";
 font-family: "FontAwesome";
 padding-left: 07px;
 padding-top: 40px;
 position: absolute;
 font-size: 35px;
 color: #2980b9; 
}

.form-input:nth-child(2)::before{
    content: "\f059";
}
.form-input:nth-child(3)::before{
    content: "\f2c1";
   }
.form-input:nth-child(4)::before{
 content: "\f084";
}
 
.btn-login{
 padding: 15px 25px;
 border: none;
 background-color: #27ae60;
 color: rgb(255, 251, 251);
 box-shadow: 20px 39px 58px rgba(21, 161, 185, 0.3);

}

.btn-retour{
    padding: 15px 25px;
    border: none;
    background-color: #f51c1c;
    color: rgb(252, 26, 26);
    box-shadow: 20px 39px 58px rgba(250, 250, 250, 0.3);
   text-decoration: none;
   }

   .btn-retour a{
       text-decoration: none;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }

.titre{
    margin-top: -40px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: floralwhite;
}